<%= render "shared/second-header"%>

<div class="contents row">
  <div class="success">
    <h3>購入が完了しました。</h3>
    <a class="btn" href="/">出品一覧へ戻る</a>
  </div>
</div>
<%= render "shared/second-footer"%>